Port 22
HostKey /etc/ssh/ssh_host_keys/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_keys/ssh_host_ed25519_key
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
StrictModes no
AllowUsers user
X11Forwarding no
UsePAM yes
ClientAliveInterval 60
ClientAliveCountMax 3
